#container {
    .main-tit {
        h3 {
            padding: 20px 0;
            font-size: 3.5rem;
        }
    }

    .main-cont {
        pre {
            margin: 0;
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
}

// sub-2
.main-search {
    .main-search__sel {
        font-size: 1.3rem;
    }
}
